        :root {
            --bg-paper: #f4ede0;
            --text-main: #1d1d1b;
            --accent-red: #8b2010; /* Rojo antiguo */ 
            --link: #2468AC;
            --link-visited: #123456; 
            --border-ink: #3b352a;
            --font-main: 'Constantia', 'Palatino', 'Georgia', serif;
        }

