
/*

    <div class="vc-containter">

        <!-- ENTRY -->            
        <div class="vc-entry">
            <span class="vc-lema" id=""></span>
            <span class="vc-morphosintaxis"></span>
        </div> 

        <!-- EXPRESIÓN -->            
        <div class="vc-expresion" id="">
        </div> 
            
        <!-- ETIMOLOGÍA -->                
        <div class="vc-etimology"></div>
        
        <!-- DEFINICIÓN RÁPIDA -->                
        <div class="vc-fast-definition" >
            <span class="ts-latin"></span><span class="ts-sup"></span>&nbsp—
        </div>

        <!-- DEFINICIÓN -->        
        <div class="vc-definition">
            <span class="ts-latin"><span class="ts-sup"></span></span>
            <span class="ts-author"></span>
        </div>

        <!-- EJEMPLOS -->        
        <div class="vc-examples">
            <b>En las fuentes:</b>
            <ul class="vc-examples-ul">
                <li>
                    <span class="ts-latin"></span><span class="ts-sup"></span>
                    <span class="ts-author"></span>                     
                </li>
            </ul>
        </div>

        <!-- EJEMPLOS -->        
        <div class="vc-examples">
            <b>En las Sagradas Escrituras:</b>
            <ul class="vc-examples-ul">
                <li>
                    <span class="ts-latin"></span><span class="ts-sup"></span>
                    <span class="ts-author"></span>                     
                </li>
            </ul>
        </div>
        
        <!-- DEFINICIONES ADICIONALES -->        
        <div class="vc-aditional-definition">
            <span class="ts-english"></span><span class="ts-sup"></span>
            <span class="ts-latin"></span><span class="ts-sup"></span>
        </div>
        
        <!-- NOTA ÚNICA -->
        <div class="vc-single-note">
        </div>
        
        <!-- NOTAS MÚLTIPLES -->        
        <div class="vc-notes">
            <b>Notas:</b>
            <ul class="vc-notes-ul">
                <li>
                    <span class="ts-latin"></span>
                    <span class="tc-author"></span>
                </li>
            </ul>
        </div>
       
        <!-- TRADUCCIONES -->
        <div class="vc-translations">
            <div class="vc-translations-line"></div>
            <ol class="vc-translations-ol">
                <li>
                </li>
            </ol>
        </div>        
        
    </div> <!-- <div class="vc-containter"> -->
*/

    :root {
        --vc-margin-top    : 0.3em;
        --vc-margin-bottom : .55em;
   }

/* TIPO DE ENTRADA Y NOTAS MORFOSINTÁCTICAS */

    .vc-containter{
        margin-top          : 1.5em;
        margin-bottom       : 0em;
    }
    
    .vc-entry{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        margin              : 0;
    }

    .vc-lema{
        font-family         : var(--font-latin);
        font-variant        : small-caps;
        font-weight         : bold;
        font-size           : 144%;        
        color               : var(--ancient-red);
    }


    .vc-morphosintaxis{
        margin-left         : 0.25em;
        font-style          : italic;
        font-size           : 120%;
        color               : var(--ancient-red);      
    }
    

    .vc-expresion{
        font-family         :"garamond";
        font-variant        : small-caps;
        font-style          : italic;
        font-weight         : bold;
        font-size           : 144%;
        color               : var(--ancient-red)
    }
    
    .vc-etimology{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
        font-family         : var(--font-sf);
        font-weight         : bold;
        line-height         : 1.5;
        color               : black;
    }        

/* DEFINICIONES RÁPIDAS */        
    
    .vc-fast-definition{
        font-style          : italic;
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }
    
    .vc-fast-definition::before{
        content             :"Uso: " ;       
        font-weight         : bold;
        font-style          : italic;
    }
    
/* DEFINICIONES */    
    
    .vc-definition{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }

    .vc-definition::before{
        content             :"Def.: " ;       
        font-weight         : bold;
        font-style          : italic;
    }
    

/* EJEMPLOS */

    .vc-examples{
        margin-top          : var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }

    .vc-examples-ul {
         margin-top         : .0em;
         margin-bottom      : .0em;
         list-style-type    : disc; /*circle, square, none */
    }

/* "aditional definitions: a eliminar" */

    .vc-aditional-definition{
        margin-top          :    var(--vc-margin-top);
        margin-bottom       : var(--vc-margin-bottom);
    }
    
    .vc-aditional-definition::before{
        content             :"N.: " ;       
        font-weight         : bold;
        font-style          : italic;
    }
    
    .vc-aditional-definition::first-letter{
        font-weight         : bold;
    }

/* NOTAS */

    .vc-single-note{
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }

    .vc-single-note::before{
        content             :"Nota: " ;       
        font-weight         : bold;
        font-style          : italic;
    }

    .vc-notes{
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }

    .vc-notes-ul {
         margin-top         : .0em;
         margin-bottom      : .0em;
         list-style-type    : disc; /*circle, square, none */
    }
    
    
    .vc-notes-ol{
        margin-top          : .0em;
        margin-bottom       : .0em;
        list-style-type     : decimal;
    }

/* TRANSLATIONS */    

    .vc-translations{
        margin-top:    var(--vc-margin-top);
        margin-bottom: var(--vc-margin-bottom);
    }

    .vc-translations-line{
        width: 200px;        /* Longitud de la línea */
        height: 1px;         /* Grosor */
        background-color: #555;  /* Color */
        margin: 20px;   /* Espacio arriba/abajo + centrado */
     /* border-radius: 1px;  /* Bordes ligeramente redondeados, opcional */    
    }

    .vc-translations-ol{
        margin-top          : .0em;
        margin-bottom       : .0em;
        list-style-type     : decimal;
    }
    
    


    
