
    .vocabulary-spacing{
        margin-top:    0.1em; 
        margin-bottom: 0.1em;         
    }    
        
    .vocabulary-entry{
        font-variant: small-caps;
        margin: 0;
        color: var(--accent-red);
    }

    .vocabulary-subentry{
        margin: 0;
        color: var(--accent-red);
        font-style: italic;
    }
        
